.fake-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

.form-content {
    margin-top: 50px;
    
}

.bg-image {
    background-image: url("../assets/bgimage.jpg");
    height: 100vh;
    background-size: cover;
  }
  